<!DOCTYPE html>
<html>
<head>
	<title>方恒伟Toll-时间</title>
	<title>Toll-时间</title>
	<style type="text/css">
		div{width: 100%;overflow:hidden;line-height: 32px;}
		div p{width: 300px;float: left;}
		div	span{width: 100px;display: block;text-align: right;float: left;padding-right: 10px}
		div input{line-height: 32px;padding:0 5px;}
	</style>
</head>
<body>
	<a href="{$Think.config.home_url}/Index/index">首页</a><br/><br/>
	<div>
		<p>
			<span>当前时间戳</span>
			<input type="text" name="now_timestamp" value="{$now_timestamp}" disabled="true">
		</p>
		<p>
			<span>当前日期</span>
			<input type="text" name="now_datetime" value="{$now_datetime}" disabled="true">
		</p>
	</div>
	<div>
		<p>
			<span>时间戳</span>
			<input type="text" name="timestamp" id="timestamp">
		</p>
		<p>
			<span>转日期</span>
			<input type="text" name="to_datetime" id="to_datetime"><br/>	
		</p>
	</div>
	<!-- 以下是JS -->
	<script src="//cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript">
		//时间戳转日期
		$('#timestamp').bind('input propertychange', function() { 
			var timestamp = $('#timestamp').val();
			console.log(timestamp);
			$.post("{$Think.config.home_url}/Time/ajax_timestamp_to_datetime",{timestamp:timestamp},function(result){
				$("#to_datetime").val(result);
			});
		});
	</script>
	<!-- 以上是JS -->
</body>
</html>